.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: 0px !important;
    outline: none !important;
    box-shadow: none !important;
    padding-right: 0px;
    padding-left: 0px;
}